*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}
header.header{
    background-color: #282858;
}
.logo{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 29.3px;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    
}
.navbar a:hover{
    color: #0ef;
    font-size: 25.3px;
    margin-left: 29px;
}
.home{
    position: relative;
    font-size: 38px;
    width: 100%;
    justify-content: space-between;
    background-color: #19193e;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px 127px 0;
}
.home .home-content{
    padding: 0px 46px 0;
    margin-top: 61px;
}
.home .name{
       color: #0ef;
}
.home .img{
    width: 44%;
    margin-top: 80px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
#element{
    color: #0ef;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .7s ease forwards;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5.8s;
}

.home-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    text-decoration: none;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 25px;
    color: #0ef;
    margin: 21px 19px 13px 0px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
.home-social a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    cursor: pointer;
}
.btn{
    display: inline-block;
    margin-top: 30px;
    padding: 10px;
    color: #19193e;
    background: #0ef;
    border: 2px solid #0ef;
    border-radius: 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    opacity: 0;
    animation: slideBottom .7s ease forwards;
    animation-delay: 1s;
}
.btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan,
    0 0 50px cyan, 0 0 50px cyan;
    cursor: pointer;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: -100;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: -100;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: -100;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}